$color-blue: #64b0f2;
$color-indigo: #564ab1;
$color-purple: #9261c6;
$color-pink: #ff7aa3;
$color-red: #ff5d48;
$color-orange: #f1734f;
$color-yellow: #f1b53d;
$color-green: #1bb99a;
$color-teal: #050505;
$color-cyan: #3db9dc;
$color-white: #fff;
$color-gray: #8a93a9;
$color-gray-dark: #e4e6eb;
$color-secondary: #3c4556;
$color-background: #6c7897;
$color-background-dark: #292e3b;
$color-background-light: #393f50;
$color-background-semi: #343b4a;
$color-background-semi-dark: #343b4a75;
$color-text: #929fbf;
$color-text-dark: #646b7f;
