@import './styles/index.scss';

body{
    color:$color-text;
     background-color: $color-background-dark;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    overflow-x: hidden !important;
    font-family: 'Roboto';
}
.container{
    display: flex;
    flex-direction: row;
}
.link{
    outline: none;
    text-decoration: none;
}