@import '../../styles/index.scss';
.user__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    margin-bottom: 30px;
    padding: 0 30px;
    .btn-group{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .title{
            font-size: 30px;
            font-weight: bold;
            color: white;
        }
    }
}